#core-ol {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 7vh 5vw;
  gap: 45px;
}

#core-ol * {
  /* Optional: For debugging borders, uncomment these lines */
  /* border: 5px solid blue; */
}

.cr-tp h1 {
  font-size: 4rem;
  font-weight: 600;
  text-decoration: underline;
  padding-bottom: 5px;
  display: grid;
  place-items: center;
}

.cr-grd {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  flex-wrap: wrap;
}

.cr-cd {
  background: #eee;
  display: flex;
  flex-direction: column;
  gap: 17.5px;
  width: 22%;
  padding: 22px 17px;
  min-width: 250px;
  cursor: grab;
  flex-shrink: 0;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.166);
}

.cr-img img {
  width: 100%;
  mix-blend-mode: multiply;
}

.cr-ttl {
  font-size: 1.7rem;
  font-weight: 600;
}
.gp-ad{
  /* border: 5px solid red; */
  padding: 25px;
  /* width: 80%; */
  /* margin: 25px; */
}
@media (width < 500px) {
  .cr-ttl {
    font-size: 1.7rem !important;
  }
}