/*============ loader img =================*/
.loaderr {
    background: #fff;
    height: 100dvh;
    width: 100dvw;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    z-index: 11111;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in;

}

.loaderr img {
    width: 25%;
    min-width: 250px;
}