.contact-whole-page-parent header {
    position: relative;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.226);
}
.contact-whole-page-parent {
    /* background: rgb(194, 251, 194) !important;    
 */
    background: linear-gradient(317deg, rgb(94, 201, 237), #c7f0c5, #eee) !important;
    background-size: 110% 110% !important;
    animation: gradient-animation 2s ease infinite !important;
}
#contact-sec-ol {
    display: flex;
    /* border: 5px solid red; */
    margin: 10vh 5vw;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.226);
    border-radius: 13px;
    overflow: hidden;
    /* margin-top: 17vh; */
    /* background: lime; */
}
footer {
    background: #fff;
}
.cs-l {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px;
    justify-content: space-between;
    gap: 10vh;
    color: #fff;
    background: #68D338;
    width: 45%;
    overflow: hidden;
    position: relative;

}
.cs-l-t {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}
.cs-l-t h1 {
    font-size: 2.7rem;
    font-weight: 600;
}
.cs-l-t h2 {

    font-size: 1.2rem;
    font-weight: 400;
}
.cs-l-m {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 65%;
}
.ml-line {
    display: flex;
    gap: 15px;
    text-align: justify;
}
.ml-line span:first-child * {
    font-size: 2rem;
}
.ml-line span:last-child {
    font-size: 1.2rem;
}
.cs-l-b {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.cs-l-b a {
    color: #000;
    height: 55px;
    width: 55px;
    display: grid;
    place-items: center;
    background: #fff;
    border-radius: 50%;
}
.cs-l small {
    height: 125px;
    width: 125px;
    position: absolute;
    background-color: #fffefe4c;
    bottom: 100px;
    right: 100px;
    backdrop-filter: blur(3px);
    z-index: 3;
    border-radius: 50%;
    /* border: 5px solid red; */
    animation: updown alternate infinite ease-in-out 2s;
}
@keyframes updown {
    0% {
        transform: translateY(-15px);
    }
100% {
        transform: translateY(15px);
    }
}
.cs-l big {
    /* animation: updown alternate infinite ease-in-out 2s; */
    height: 275px;
    width: 275px;
    bottom: -70px;
    right: -70px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    background-color: #A1E32799;
    /* border: 5px solid rgb(162, 0, 255); */
}
.cs-r {
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.255);
    padding: 45px;
    background: #fff;
    width: 65%;
}
.cs-r form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.f-raw {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: space-between;
}

.f-fld {
    width: 100%;
    display: flex;
    gap: 9px;
    flex-direction: column;
}
.f-fld h1 {
    font-size: 1.1rem;
    font-weight: 600;
}
.f-raw>* {
    flex: 1;
    /* width: 50%; */
}
input,
textarea {
    width: 100%;
    padding: 9px 15px;
    font-size: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.225);
    border-radius: 7px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.077);
}

textarea {
    height: 300px;
}
.gr-btn {
    background: #68D338;
    color: #fff;
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.164);
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;

}

@media (width < 500px) {

    .cs-l {
        padding: 25px;
        gap: 15px;
    }

    .cs-l-t h1 {
        font-size: 2.5rem !important;
    }

    .cs-l-t h2 {
        font-size: 1rem !important;
    }

    .ml-line span *,
    .ml-line span {
        font-size: 1rem !important;
    }

    .cs-l-b a {
        height: 35px;
        width: 35px;
    }

    .cs-l-b a * {
        font-size: 1rem;
    }

    .cs-l-m {
        gap: 15px;
    }

    .cs-l big,
    .cs-l small {
        display: none;
    }

    .cs-r {
        padding: 20px !important;
    }

    .f-fld h1 {
        font-size: 0.9rem !important;
    }

    .f-fld input,
    .f-fld textarea {
        padding: 7.5px;
        font-size: 0.85rem !important;
    }

    .gr-btn {
        padding: 7px;
        color: #fff !important;
        font-size: 0.9rem;
    }
    }
.swal2-confirm,
.swal2-styled {
    background-color: #68D338 !important;
}

.cs-l-m a {
    text-decoration: none;
    color: #fff !important;
    cursor: pointer;
}