@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Michroma&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Russo+One&family=Saira:wght@100;200;300;400;500;600;700;800;900&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Michroma&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Russo+One&family=Saira:wght@100;200;300;400;500;600;700;800;900&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Marcellus&family=Michroma&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Russo+One&family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font1: 'Anton', sans-serif;
  --font2: 'Michroma', sans-serif;
  --font3: 'Poppins', sans-serif;
  --font4: 'Prompt', sans-serif;
  --font5: 'Russo One', sans-serif;
  --font6: 'Saira', sans-serif;
  --font7: 'Tilt Warp', cursive;
  --font8: 'Kanit', sans-serif;
  --font9: 'Marcellus', serif;
  --blue: #2490EB;
  --blue2: #07366A;
  --blue3: #042242;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* background: #292929; */
  /* padding: 5px; */
  background: #fff;
  z-index: 111111;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(297deg, #4ddfdd, #48e658);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(15, 188, 99, 0.31);
  transition: transform 0.3s ease;
  animation: thumbPulsate 2s infinite;
}

::-webkit-scrollbar-thumb:hover {
  transform: scale(1.1);
}

* {
  scroll-behavior: smooth;
  /* scrollbar-width: thin; */
  /* scrollbar-color: #80f0ee #61f06f; */
}

@keyframes thumbPulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 5px solid rgba(255, 0, 0, 0.507); */
}
#main-app-ol {
  height: auto;
  min-height: 100dvh;
  width: 100vw;
  position: relative;
  transition: transform 0.3s ease;
  /* Smooth zoom effect */
  will-change: transform;
  /* Hint for smoother performance */
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  /* Prevent default scrollbars */
}

body {
  margin: 0;
  background-color: #f4f4f4;
  background: radial-gradient(rgb(130, 239, 120), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
  /* font-family: Poppins; */
  background-size: 150% 180%;
  background-position: -200px center;
  font-family: "Raleway", sans-serif;
  font-family: "Montserrat", sans-serif;
  overflow-y: auto !important;
  /* cursor: none; */
}
#mc {

  transition: all cubic-bezier(0.19, 1, 0.22, 1)0.7s;
  position: absolute;
  z-index: 999;
  width: 100px;
  height: 100px;
  background: rgb(28, 48, 27);
  border-radius: 50%;
  display: inline-block;
  /* mix-blend-mode:exclusion; */
  mix-blend-mode: lighten;
  pointer-events: none;

  backdrop-filter: blur(0px);
  /* border:1px solid rgb(0, 0, 0) ; */
  border: none !important;
  box-shadow: 0 0 25px 1px rgba(33, 45, 38, 0.443);

  transform: scale(2);
  /* Adjust scale value to control zoom */
  overflow: hidden;
}
:root {
  --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
  --item1-filter: blur(30px);
  --item1-zIndex: 11;
  --item1-opacity: 0;

  --item2-transform: translateX(0) scale(0.8);
  --item2-filter: blur(0px);
  --item2-zIndex: 10;
  --item2-opacity: 1;

  --item3-transform: translate(45%, 0%) scale(0.5);
  --item3-filter: blur(10px);
  --item3-zIndex: 9;
  --item3-opacity: 1;

  --item4-transform: translate(70%, 0%) scale(0.3);
  --item4-filter: blur(30px);
  --item4-zIndex: 8;
  --item4-opacity: 1;

  --item5-transform: translate(125%, 0%) scale(0.3);
  --item5-filter: blur(40px);
  --item5-zIndex: 7;
  --item5-opacity: 0;
}

#app-ol {
  width: 100vw;
  height: auto;
  min-height: 100dvh;
}

/* ============================== header css start =================================== */

header {
  /* border: 5px solid rgb(81, 0, 255); */
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
  padding: 15px 5vw;
  height: 70px;
  align-items: center;
  width: 100% !important;
  position: relative;
  z-index: 1111 !important;
}

header .logo {
  font-weight: bold;
}

header nav a {
  /* margin-left: 50px; */
  text-decoration: none;
  color: #555;
  font-weight: 500;
  display: block;
  position: relative;
}

nav {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  flex: 1;
}

nav a span {
  position: relative;
  display: block;
  cursor: pointer !important;
}

nav a span::after {
  content: "";
  background: green;
  width: 0%;
  position: absolute;
  bottom: -2.5px;
  display: inline-block;
  left: 0;
  height: 3px;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}

nav a:hover span::after {
  content: "";
  background: green;
  width: 100% !important;
  position: absolute;
  bottom: -2.5px;
  display: inline-block;
  left: 0;
  height: 3px;
  border-radius: 3px;
}

/* ============================== header css end =================================== */
/* ============================== carousel css start =================================== */
/* ============================== carousel css end =================================== */
.home-page-oll header {
  /* background: transparent !important; */
  /* border: 5px solid red; */
  background: rgba(255, 255, 255, 0.597);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.156);
}
.carousel {
  position: relative;
  height: 100vh !important;
  overflow: hidden;
  margin-top: 0px;
  /* border: 5px solid rgb(108, 30, 177); */
}

.carousel>* {
  /* border: 5px solid rgb(177, 79, 30); */
}

.carousel .list {
  position: absolute;
  width: 100vw;
  max-width: 90%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel .list .item {
  position: absolute;
  left: 0%;
  top: 0;
  width: 80%;
  height: 100%;
  font-size: 15px;
  transition: left 0.5s, opacity 0.5s, width 0.5s;
  /* border: 5px solid rgb(30, 47, 177); */
}

.carousel .list .item:nth-child(n + 6) {
  opacity: 0;
}

.carousel .list .item:nth-child(2) {
  z-index: 10;
  transform: translateX(0);
}

.carousel .list .item img {
  width: 60%;
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
  transition: right 1.5s;
}

.carousel .list .item .introduce {
  opacity: 0;
  pointer-events: none;
}

.carousel .list .item:nth-child(2) .introduce {
  opacity: 1;
  pointer-events: auto;
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.5s;
}

.carousel .list .item .introduce .title {
  font-size: 3.3rem;
  font-weight: 500;
  display: none;
  line-height: 1em;
  margin-top: -25px;
}

.carousel .list .item .introduce .topic {
  font-size: 5rem;
  font-weight: 500;
  line-height: 90px;
  margin: 13px 0 !important;
  /* line-height: ; */
}

.carousel .list .item .introduce .des {
  font-size: 1.17rem;
  /* padding-top: 15px; */
  font-weight: 400 !important;
  color: rgba(29, 29, 29, 0.6);
  /* font-size: 2rem !important; */
}

.carousel .list .item .introduce .seeMore {
  font-family: Poppins;
  margin-top: 25px;
  padding: 5px 17px;
  border-radius: 7px;
  border: none;
  border: 1px solid #555;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 3px;
  transition: background 0.5s;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 400 !important;
}

.checkout>* {
  /* flex: 1 !important; */
}

.checkout {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  gap: 25px;
  margin-top: 15px;
}

.carousel .list .item .introduce .seeMore:hover {
  background: #4bcb7a4f;
}

.carousel .list .item:nth-child(1) {
  transform: var(--item1-transform);
  filter: var(--item1-filter);
  z-index: var(--item1-zIndex);
  opacity: var(--item1-opacity);
  pointer-events: none;
}

.carousel .list .item:nth-child(3) {
  transform: var(--item3-transform);
  filter: var(--item3-filter);
  z-index: var(--item3-zIndex);
}

.carousel .list .item:nth-child(4) {
  transform: var(--item4-transform);
  filter: var(--item4-filter);
  z-index: var(--item4-zIndex);
}

.carousel .list .item:nth-child(5) {
  transform: var(--item5-transform);
  filter: var(--item5-filter);
  opacity: var(--item5-opacity);
  pointer-events: none;
}

/* animation text in item2 */
.carousel .list .item:nth-child(2) .introduce .title,
.carousel .list .item:nth-child(2) .introduce .topic,
.carousel .list .item:nth-child(2) .introduce .des,
.carousel .list .item:nth-child(2) .introduce .seeMore {
  opacity: 0;

  animation: showContent 0.3s 0.5s ease-in-out 1 forwards;
}

@keyframes showContent {
  from {
    transform: translateY(-30px);
    filter: blur(10px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
  }
}

.carousel .list .item:nth-child(2) .introduce .topic {
  animation-delay: 1.2s;
}

.carousel .list .item:nth-child(2) .introduce .des {
  animation-delay: 1.4s;
}

.carousel .list .item:nth-child(2) .introduce .seeMore {
  animation-delay: 1.6s;
}

/* next click */
.carousel.next .item:nth-child(1) {
  animation: transformFromPosition2 0.5s ease-in-out 1 forwards;
}

@keyframes transformFromPosition2 {
  from {
    transform: var(--item2-transform);
    filter: var(--item2-filter);
    opacity: var(--item2-opacity);
  }
}

.carousel.next .item:nth-child(2) {
  animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}

@keyframes transformFromPosition3 {
  from {
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    opacity: var(--item3-opacity);
  }
}

.carousel.next .item:nth-child(3) {
  animation: transformFromPosition4 0.9s ease-in-out 1 forwards;
}

@keyframes transformFromPosition4 {
  from {
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    opacity: var(--item4-opacity);
  }
}

.carousel.next .item:nth-child(4) {
  animation: transformFromPosition5 1.1s ease-in-out 1 forwards;
}

@keyframes transformFromPosition5 {
  from {
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    opacity: var(--item5-opacity);
  }
}

/* previous */
.carousel.prev .list .item:nth-child(5) {
  animation: transformFromPosition4 0.5s ease-in-out 1 forwards;
}

.carousel.prev .list .item:nth-child(4) {
  animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}

.carousel.prev .list .item:nth-child(3) {
  animation: transformFromPosition2 0.9s ease-in-out 1 forwards;
}

.carousel.prev .list .item:nth-child(2) {
  animation: transformFromPosition1 1.1s ease-in-out 1 forwards;
}

@keyframes transformFromPosition1 {
  from {
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    opacity: var(--item1-opacity);
  }
}

/* detail  */
.carousel .list .item .detail {
  opacity: 0;
  pointer-events: none;
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* showDetail */
.carousel.showDetail .list .item:nth-child(3),
.carousel.showDetail .list .item:nth-child(4) {
  left: 100%;
  opacity: 0;
  pointer-events: none;
}

.carousel.showDetail .list .item:nth-child(2) {
  width: 100%;
}

.carousel.showDetail .list .item:nth-child(2) .introduce {
  opacity: 0;
  pointer-events: none;
}

.carousel.showDetail .list .item:nth-child(2) img {
  right: 50%;
}

.carousel.showDetail .list .item:nth-child(2) .detail {
  opacity: 1;
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  pointer-events: auto;
}

.carousel.showDetail .list .item:nth-child(2) .detail .title {
  font-size: 4em;
}

.carousel.showDetail .list .item:nth-child(2) .detail .specifications {
  display: flex;
  gap: 25px;
  width: 100%;
  border-top: 1px solid #5553;
  margin-top: 12.5px;
  padding-top: 12.5px;
  justify-content: flex-end;
}

.carousel.showDetail .list .item:nth-child(2) .detail .specifications div {
  width: fit-content;
  text-align: center;
  flex-shrink: 0;
}

.carousel.showDetail .list .item:nth-child(2) .detail .specifications div p:nth-child(1) {
  font-weight: bold;
}

.carousel.carousel.showDetail .list .item:nth-child(2) .checkout button {
  font-family: Poppins;
  background-color: transparent;
  border: 1px solid #5555;
  margin-left: 5px;
  padding: 9px 17px;
  letter-spacing: 2px;
  font-weight: 500;
}

.carousel.carousel.showDetail .list .item:nth-child(2) .checkout button:nth-child(1) a {
  color: #fff !important;
  text-decoration: none !important;
}

.carousel.carousel.showDetail .list .item:nth-child(2) .checkout button:nth-child(1) {
  background-color: #6dc415;
  color: #eee;
}

.carousel.showDetail .list .item:nth-child(2) .detail .title,
.carousel.showDetail .list .item:nth-child(2) .detail .des,
.carousel.showDetail .list .item:nth-child(2) .detail .specifications,
.carousel.showDetail .list .item:nth-child(2) .detail .checkout {
  opacity: 0;
  animation: showContent 0.5s 1s ease-in-out 1 forwards;
}

.carousel.showDetail .list .item:nth-child(2) .detail .des {
  animation-delay: 1.2s;
}

.carousel.showDetail .list .item:nth-child(2) .detail .specifications {
  animation-delay: 1.4s;
}

.carousel.showDetail .list .item:nth-child(2) .detail .checkout {
  animation-delay: 1.6s;
}

.arrows>* {
  /* border: 5px solid gold !important; */
}

.arrows {
  padding: 0 5vw;
  position: absolute;
  /* border: 5px solid red; */
  bottom: 25px;
  /* width: 1140px; */
  /* max-width: 90%; */
  display: flex;
  justify-content: space-between;
  left: 50%;
  width: 100%;
  z-index: 111;
  align-items: center;
  /* border: 5px solid green; */
  transform: translateX(-50%);
}

#prev,
#next {
  width: 50px;
  height: 60px;
  border-radius: 12px;
  font-family: monospace;
  border: 1px solid #5555;
  font-size: large;
  font-size: 1.5rem !important;
  cursor: pointer;
  background: rgba(85, 206, 121, 0.053) !important;
  transition: 0.3s ease-in-out;
  position: relative;
}

#prev:hover,
#next:hover {
  border: 1px solid rgb(29, 29, 29);
  background: rgba(39, 91, 54, 0.207) !important;
}

#next {
  /* left: unset; */
  /* right: 0% !important; */
}

#back {
  font-family: Poppins;
  /* margin-top: 25px; */
  padding: 5px 17px;
  /* border-radius: 7px; */
  border: none;
  border: 1px solid #555;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 3px;
  transition: background 0.5s;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 400 !important;
}

.carousel.showDetail #back {
  opacity: 1;
}

.carousel.showDetail #prev,
.carousel.showDetail #next {
  opacity: 0;
  pointer-events: none;
}

body {
  /* .gradient-background { */
  /* background: linear-gradient(104deg, #c02ac, #76e947, #77ed37, #515a6e);
    background-size: 240% 240%; */
  /* background: linear-gradient(297deg, #80f0ee, #c3e1b6, #61f06f); */
  /* background: linear-gradient(297deg, #7b6d53, #dde1b6, #4d4539); */

  background: linear-gradient(297deg, #80f0ee, #c3e1b6, #61f06f);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.carousel.showDetail::before {
  transform: translate(-100%, -50%) rotate(90deg);
  filter: blur(130px);
}

@media screen and (max-width: 1000px) {

  /* ipad, tablets */
  .carousel .list .item {
    width: 90%;
  }

  .carousel.showDetail .list .item:nth-child(2) .detail .specifications {
    overflow: auto;
  }

  .carousel.showDetail .list .item:nth-child(2) .detail .title {
    font-size: 2em;
  }
.report-grd .ic-grd,
.pr-grd {
  flex-wrap: wrap;
}

.ms-img {
  display: none !important;
}

.report-grd>*,
.ic-grd>*,
.pr-grd>* {
  min-width: 300px;
  flex-grow: 1;
}

#contact-sec-ol {
  flex-direction: column;
}

#contact-sec-ol>* {
  width: 100%;
}
}

@media (max-width:900px) {

  .carousel {
    height: 600px;
  }

  .carousel .list .item {
    width: 100%;
    font-size: 10px;
  }

  .carousel .list {
    height: 100%;
  }

  .carousel .list .item:nth-child(2) .introduce {
    width: 50%;
  }

  .carousel .list .item img {
    width: 40%;
  }

  .carousel.showDetail .list .item:nth-child(2) .detail {
    backdrop-filter: blur(10px);
    font-size: small;
  }

  .carousel .list .item:nth-child(2) .introduce .des,
  .carousel.showDetail .list .item:nth-child(2) .detail .des {
    height: 100px;
    overflow: auto;
  }

  .carousel.showDetail .list .item:nth-child(2) .detail .checkout {
    display: flex;
    width: max-content;
    float: right;
  }
}

.logo>img {
  width: 50px;
}

@media (width < 900px) {
  :root {
    --item1-transform: translateX(-100%) translateY(-5%) scale(1.7) !important;
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;

    --item2-transform: translateX(40%);
    --item2-filter: blur(0px);
    --item2-zIndex: 10;
    --item2-opacity: 1;

    --item3-transform: translateX(45%) scale(0.5);
    --item3-filter: blur(10px);
    --item3-zIndex: 9;
    --item3-opacity: 1;

    --item4-transform: translate(70%, 0%) scale(0.3);
    --item4-filter: blur(30px);
    --item4-zIndex: 8;
    --item4-opacity: 1;

    --item5-transform: translate(125%, 0%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-zIndex: 7;
    --item5-opacity: 0;
  }

  body {
    /* overflow-x: hidden !important; */
    /* overflow-y: scroll !important; */
  }

  nav {
    display: flex !important;
    align-items: center !important;
    /* justify-content: center !important; */
    gap: 15px !important;
    /* width: ; */
  }

  .carousel {
    /* margin-top: -70px !important; */
  }

  header {
    height: 70px !important;
  }

  nav a {
    display: block;
    margin: 0 !important;
    width: fit-content !important;
    cursor: pointer !important;
  }

  .carousel .list .item img {
    width: 70%;
    top: 30%;
    left: 15% !important;
  }

  .logo img {
    width: 45px !important;
  }

  .topic {
    font-size: 3rem !important;
    line-height: 70px !important;
    margin: 0 !important;
  }

  .introduce .title {
    /* font-size: 2rem !important; */
  }
  .introduce {
    position: relative;
    top: 70% !important;
    width: 90% !important;
    /* background: red; */
  }

  .detail>* {
    text-align: left;
    /* border: 2px solid black !important; */
  }

  .detail .des {
    height: fit-content !important;
    /* font-size: 2rem !important; */
  }

  .detail {
    top: 75% !important;
    width: 80% !important;
    /* background: red; */
    display: flex !important;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
  }
  .item {
    width: 100vw !important;
  }

  .checkout>* {
    flex: 1 !important;
  }

  .checkout {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }

  .arrows>* {
    position: relative !important;
    /* border: 5px solid blue !important; */
    /* bottom: 75px !important; */
  }

  /* .arrows { */
  .arrows {
    /* height: fit-content !important; */
    position: absolute !important;
    bottom: 0px !important;
    z-index: 111;
    width: 100vw !important;
    /* background: red; 
    */
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    /* border: 5px solid red; */
  }

  .introduce .des {
    padding: 0 !important;
    height: fit-content !important;
  }

  button,
  a {
    color: #000 !important;
  }

  button {
    font-family: Poppins;
  }

  .seeMore span,
  #back span {
    display: none !important;
  }

  #back,
  .seeMore {
    font-size: 1rem !important;
    padding: 5px 15px !important;
    border: 1px solid rgba(0, 0, 0, 0.414) !important;
    font-weight: 400 !important;
    border-radius: 7px !important;
  }

  #back {
    margin: 0 !important;
  }

  .item>* {
    width: 100%;
  }

  .item {
    /* position: !important; */
    /* width: 80vw !important; */
    padding: 25px !important;
  }

  .list {
    padding: 7.5px;
    max-width: 100vw !important;
    /* : 100vw; */
  }

  .carousel>* {
    /* border:  1px solid black !important; */
    margin: 0 !important;
  }

  .seeMore:hover {
    background: black !important;
    color: #fff !important;
  }

  .seeMore {
    z-index: 1111 !important;
    width: fit-content;
    /* position: absolute; */
  }

  .carousel {
    position: relative !important;
    /* background: gold; */
    height: 100vh;
    width: 100vw !important;
    display: flex !important;
  }

  .detail .title {
    width: 100%;
    /* color: white !important; */
    text-align: left !important;
    font-size: 3rem !important;
  }

  .detail *::-webkit-scrollbar {
    width: 0 !important;
  }

/* .carousel .list .item:nth-child(2) .detail .des{ */
.carousel .list .item:nth-child(2) .detail {
  /* border: 5px solid red !important; */
  width: 100%;
  position: absolute;
  /* right: 0; */
  bottom: 0;
  margin-right: 10%;
  /* background: red !important; */
}
  .detail .des {
    /* height:350px !important; */
    overflow: hidden !important;
    font-size: 1rem;
    }

    .specifications {
      display: none !important;
  }
}
.transpatent-back {
  /* background: red; */
  /* border: 5px solid red; */
  mix-blend-mode: multiply !important;
}
.carousel .list .item img {
  mix-blend-mode: multiply !important;

}
body {
  width: 100dvw;
  overflow-x: hidden;
}
@media (width < 1200px) {
  .ftr-r {
    display: none !important;
  }

  .ftr-l {
    width: 100% !important;
    flex: 1 !important;
    align-items: center !important;
    /* justify-content: center !important; */
  }

  .ftr-l * {
    text-align: center;
  }

  .ftr-l p {
    width: 80%;
  }

  .cc-ifo {
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }

  .cc-ifo p {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 5px solid red; */
    /* text-align: right; */
  }

  .cs-l-m {
    width: 100% !important;
  }
}

@media (width < 500px) {
  #mainsliderset{
    margin-top: -50px;
  }
  .introduce .des {
    font-size: 1rem !important;
    width: 90vw;
  }
    ::-webkit-scrollbar {
      display: none;
  }

  ::-webkit-scrollbar-track {
    display: none;
  }
  .introduce .topic,
  .detail .title {
    font-size: 2rem !important;
    line-height: 45px !important;
  }

  .introduce {
    top: 65% !important;
  }

  .detail {
    top: 65% !important;
  }


  .arrows {
    /* bottom: 25px; */
  }

  .carousel {
    height: 90vh;
  }

  .secc {
    padding: 45px 25px !important;
  }

  .secc h1 {
    font-size: 2.5rem !important;
    text-decoration: none !important;
  }

  .secc p {
    font-size: 1rem !important;
    /* border: 5px solid red; */
    width: 100% !important;
    text-align: justify;
    word-spacing: 0 !important;
    letter-spacing: 0 !important;
  }

  .f-raw {
    flex-direction: column;
    gap: 12px !important;
  }

  .cs-r form {
    gap: 12px !important;
  }

  .cs-r {
    padding: 25px !important;
  }
}
@media (height <700px) {
  .carousel {
    height: 90vh;
  }
}